*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
src/main/ic_launcher-web.png
src/main/java/elmir/vip/individualproject/ui/home/about_expo/CollapsibleCard.kt
src/main/java/elmir/vip/individualproject/ui/home/about_expo/RotateX.kt
src/main/java/elmir/vip/individualproject/ui/home/events/Event.java
src/main/java/elmir/vip/individualproject/ui/home/events/EventAdapter.java
src/main/java/elmir/vip/individualproject/ui/location_map/MapActivity.java
src/main/java/elmir/vip/individualproject/ui/location_map/NearbyPlacesActivity.java
src/main/res/drawable-v24/ic_eye.xml
src/main/res/drawable-v24/ic_flattr.xml
src/main/res/drawable/badgeblue.xml
src/main/res/drawable/badgegreen.xml
src/main/res/drawable/badgeorange.xml
src/main/res/drawable/bg_login.xml
src/main/res/drawable/bgheader.png
src/main/res/drawable/bgitem.png
src/main/res/drawable/bgitemcustom.xml
src/main/res/drawable/custom_progress_bar.xml
src/main/res/drawable/expo_logo_cropped.png
src/main/res/drawable/ic_expand_more.xml
src/main/res/drawable/ic_mail_outline_black.xml
src/main/res/drawable/ic_person_black_24dp.xml
src/main/res/drawable/ic_phone_black_24dp.xml
src/main/res/drawable/ic_placeholder.xml
src/main/res/drawable/picone.png
src/main/res/drawable/picsmallone.png
src/main/res/drawable/picsmallthree.png
src/main/res/drawable/picsmalltwo.png
src/main/res/drawable/pictwo.png
src/main/res/font/
src/main/res/layout/activity_map.xml
src/main/res/layout/activity_nearby_places.xml
src/main/res/layout/activity_register.xml
src/main/res/layout/collapsible_card_content.xml
src/main/res/layout/content_map.xml
src/main/res/layout/item_event.xml
src/main/res/layout/loading_dialog_alert.xml
src/main/res/mipmap-hdpi/ic_launcher_background.png
src/main/res/mipmap-hdpi/ic_launcher_foreground.png
src/main/res/mipmap-mdpi/ic_launcher_background.png
src/main/res/mipmap-mdpi/ic_launcher_foreground.png
src/main/res/mipmap-xhdpi/ic_launcher_background.png
src/main/res/mipmap-xhdpi/ic_launcher_foreground.png
src/main/res/mipmap-xxhdpi/ic_launcher_background.png
src/main/res/mipmap-xxhdpi/ic_launcher_foreground.png
src/main/res/mipmap-xxxhdpi/ic_launcher_background.png
src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
src/main/res/transition/
src/main/res/values/attributes.xml
src/main/res/values/font_certs.xml
